* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 2rem;
  background-color: $bg-second;

  @media (max-width: $mqMinWidth) {
    display: block;
    line-height: 30px;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $principal-color;
  background-color: $bg;

  .container-title {
    max-width: 800px;
    padding: 1rem;
    margin: auto;
    margin-top: $margin;
    text-align: center;
    background-color: rgb(156, 156, 156);
    border-radius: 2rem;

    .title {
      font-family: $font-family-serif;
      font-size: 24px;
      font-weight: 700;
      color: $principal-color;

      @media (min-width: $mqMinWidth) {
        font-size: 36px;
      }
    }
  }

  .container-text {
    max-width: 800px;
    margin: auto;

    @media (max-width: $tabletWidth) {
      margin-inline: $margin;
    }
  }

  .splide__list {
    align-items: center;

    .splide__slide {
      margin-bottom: $margin;
      text-align: center;

      img {
        width: 80%;
        height: auto;
        object-fit: contain;

        @media (min-width: $tabletWidth) {
          width: 30%;
        }
      }

      figcaption {
        margin-bottom: 40px;
      }
    }
  }

  .thumbnails {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 0px;

    @media (max-width: $tabletWidth) {
      margin-inline: $margin;
    }

    .thumbnail {
      width: 70px;
      height: 70px;
      margin: 0 0.2rem;
      overflow: hidden;
      list-style: none;
      cursor: pointer;
      opacity: 0.3;

      img {
        width: 100%;
        height: auto;
      }

      &.is-active {
        opacity: 1;
      }
    }
  }

  #map {
    width: 50%;
    height: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgb(136, 136, 136);
  }
}

.footer {
  margin-top: $margin;
  font-size: 0.75rem;
  text-align: center;
  background-color: $bg-second;
}
