* {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 20px;
  font-size: 2rem;
  justify-content: center;
  background-color: $bg-second;

  @media (max-width: $mqMinWidth) {
    display: block;
    line-height: 30px;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $principal-color;
  background-color: $bg;
}

.container-title {
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  margin-top: $margin;
  text-align: center;
  background-color: #9b9b9b;
  border-radius: 2rem;
}

.container-text {
  max-width: 800px;
  margin: auto;

  @media (max-width: $tabletWidth) {
    margin-left: $margin;
    margin-right: $margin;
  }
}

.title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $principal-color;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

img {
  width: 80%;
  height: auto;
  object-fit: contain;

  @media (min-width: $tabletWidth) {
    width: 30%;
  }
}

.splide__list {
  align-items: center;
}

.splide__slide {
  text-align: center;
  margin-bottom: $margin;
}

figcaption {
  margin-bottom: 40px;
}

.thumbnails {
  display: flex;
  margin-top: 0px;
  padding: 0;
  justify-content: center;

  @media (max-width: $tabletWidth) {
    margin-left: $margin;
    margin-right: $margin;
  }
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  opacity: 0.3;
}

.thumbnail.is-active {
  opacity: 1;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

#map {
  margin: auto;
  width: 50%;
  height: 500px;
  box-shadow: 5px 5px 5px #888;
}

.footer {
  margin-top: $margin;
  font-size: 0.75rem;
  text-align: center;
  background-color: $bg-second;
}
